<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="NTNN">
      <section name="DataAccess" type="NTNN.ConfigurationHelpers.DataAccessConfigurationSection, NTNN, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NTNN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="ntnnnoreply@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="ntnnnoreply@gmail.com" password="JKYYd8KNj864a8L" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="Default-Host" value="192.168.111.1" />
    <add key="Default-Port" value="3080" />
    <add key="spLogEventGNS3" value="LogEventGNS3" />
  </appSettings>
  <NTNN>
    <DataAccess connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NTNN;Integrated Security=true" />
    <!--<DataAccess connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NTNN;Integrated Security=true" />-->
    <!--<DataAccess connectionString="data source=localhost;initial catalog=NTNN;User ID=[username];Password=[pass];Persist Security Info=False;Min Pool Size=5;Max Pool Size=2000;" />-->
  </NTNN>
  <log4net>
    <level>
      <name value="GeneralDebug" />
      <value value="15100" />
    </level>
    <level>
      <name value="GeneralUnknown" />
      <value value="15200" />
    </level>
    <level>
      <name value="GeneralInformation" />
      <value value="15300" />
    </level>
    <level>
      <name value="GeneralWarning" />
      <value value="15400" />
    </level>
    <level>
      <name value="GeneralError" />
      <value value="15500" />
    </level>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="GeneralDebug" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="GeneralDebug" />
        <param name="LevelMax" value="GeneralError" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="rolling.nttn.general_log4net.log" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2000KB" />
      <datePattern value="MM-dd-yyyy" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="----------------------------------------%newlineLevel: %level%newlineTimestamp: %date%newlineMessage: %message%newlineApplication Domain: %appDomain%newlineThread: %thread%newlineExtended Properties: %properties%newline----------------------------------------%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <threshhold value="ALL">
      </threshhold>
      <LogName value="Application" />
      <ApplicationName value="NTNN" />
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <NTNN.Properties.Settings>
      <setting name="Timeout" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Attempts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedAdapter" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableMonitoring" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="HighCPULoad" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HighRAMLoad" serializeAs="String">
        <value>0</value>
      </setting>
    </NTNN.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>